{% extends 'accsyst/base_not_index.html' %}

{% load staticfiles %}

{% block not_index %}
     <div class="panel-heading">
        <div>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="col-md-8 affix" style="font-size: large;">
                    {{ field.help_text }}
                    <br>
                    {{ field }}
                    <br>
                    {% if field.errors %}
                        <br>
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}
            {% if form.errors %}
                <br>
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <br>
            <button class="btn btn-primary" type="submit" name="submit">Submit</button>
        </form>
    </div>
    </div>
    <br><br>
{% endblock not_index %}
